#body{
    background-color: black;
}
#card{
    max-width: 900px;
    margin-top: 200px;
    margin-left: 950px;
}

.title{
    font-size: 30px;
    position: absolute;
    top:5%;
    left: 40%;
}
.bg_tela{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 600px;
    height: 560px;
    left: 200px;
}

.titulo{
    text-align: center;
    margin-top: 15px;
}

.form-control{
    max-width: 500px;
    margin-left: 50px;
}
.testimonial-box1{
    margin-left: 50px;
    width: 500px;
}